<div class="container" data-aos="fade-up" style="padding: 20px">
    <br/>
    <h2>About Us</h2>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a ng-click="findCategoryWise(1)">About ARI</a></li>
                <li><a ng-click="findCategoryWise(2)">Mission & Vision</a></li>
                <li><a ng-click="findCategoryWise(3)">Message from Director</a></li>
                <li><a ng-click="findCategoryWise(4)">Rules and Regulations</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div ng-if="categoryId===1">
                ARI-BUET
                <br/>
                ITN-BUET is a network of knowledge and skill development in water supply and sanitation (WSS). It strives for expansion of the knowledge base through networking for HRD that promotes sustainable development of the WSS sector.

                Human Resources Development (HRD) to support Water Supply and Sanitation (WSS) sector activities in the country is an important element in the arena of development from a national perspective. Primarily through an approach of skill transfer from all dimensions, with social, technical, financial, institutional front, etc., the International Training Network (ITN) Centre started its journey to attain the envisaged goal of capacity building in the WSS sector. The centre was established within BUET in November 1996 with funding support from Danida, which started functioning in January 1997.
                <br/>
                Conceptually, ITN renders its services on a multiplier effect. It takes care of curricula and syllabi; produces master trainers; develops teaching and training materials; develops R&D skills in the sector relating to socio-economic context of the country, undertakes research and brings out publication to fill up knowledge gaps. The services that ITN provides to support the development of the WSS sector are unique in the sense that no other stakeholders are rendering services of this kind and level. Direct physical and financial interventions of ITN though very small but its multiplier effect and impact are very significant. The outputs of ITN centre make other stakeholders initiatives meaningful, effective, productive and sustainable. The government and NGOs, External Support Organizations, private sector, academic institutions often request for ITN’s services.
                <br/>
                The ITN Centre has a special niche for capacity building in the WatSan sector. While the centre limits itself to training of key personnel of sector stakeholders through appropriate specialized courses, the benefit of the training activities will, in general, accrue to workers involved in community development and hygiene/ health promotion, NGO staff and women. The centre is motivated to identify the gaps in the sector and develop training packages including courses, modules and materials according to the sector need.
            </div>
            <div ng-if="categoryId===2">
                <h4>Mission</h4>
                Conceptually, ITN renders its services on a multiplier effect. It takes care of curricula and syllabi; produces master trainers; develops teaching and training materials; develops R&D skills in the sector relating to socio-economic context of the country, undertakes research and brings out publication to fill up knowledge gaps. The services that ITN provides to support the development of the WSS sector are unique in the sense that no other stakeholders are rendering services of this kind and level. Direct physical and financial interventions of ITN though very small but its multiplier effect and impact are very significant.
            </div>
            <div ng-if="categoryId===3">
                <h4>Message from Director</h4>
                The Centre for Accident Research and Road Safety Queensland (CARRS-Q) was established in 1996 as a joint venture initiative of the Motor Accident Insurance Commission (MAIC) and Queensland University of Technology (QUT) to address the enormous human, economic and social costs resulting from road crashes. CARRS-Q was founded by renowned Emeritus Professor Mary Sheehan, and is currently headed by Professor Andry Rakotonirainy, with a very strong support team of leading academics. The Centre for Accident Research and Road Safety Queensland (CARRS-Q) was established in 1996 as a joint venture initiative of the Motor Accident Insurance Commission (MAIC) and Queensland University of Technology (QUT) to address the enormous human, economic and social costs resulting from road crashes. CARRS-Q was founded by renowned Emeritus Professor Mary Sheehan, and is currently headed by Professor Andry Rakotonirainy, with a very strong support team of leading academics.
                <br/>
                The Centre for Accident Research and Road Safety Queensland (CARRS-Q) was established in 1996 as a joint venture initiative of the Motor Accident Insurance Commission (MAIC) and Queensland University of Technology (QUT) to address the enormous human, economic and social costs resulting from road crashes. CARRS-Q was founded by renowned Emeritus Professor Mary Sheehan, and is currently headed by Professor Andry Rakotonirainy, with a very strong support team of leading academics.
                <br/>
                The Centre for Accident Research and Road Safety Queensland (CARRS-Q) was established in 1996 as a joint venture initiative of the Motor Accident Insurance Commission (MAIC) and Queensland University of Technology (QUT) to address the enormous human, economic and social costs resulting from road crashes. CARRS-Q was founded by renowned Emeritus Professor Mary Sheehan, and is currently headed by Professor Andry Rakotonirainy, with a very strong support team of leading academics.
                <br/>
                Yours truly,<br/>
                Dr. Moazzem Hossain<br/>
                Director, Accident Research Institute (ARI).
            </div>
            <div ng-if="categoryId===4"></div>

        </div>
    </div>
</div>
